<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <style type="text/css">
        body {
             padding-top: 250px;

             padding-left: 00px;
             background-image: url(../images/bg21.jpg);
             
             
              background-size: 100% auto;
        background-repeat: no-repeat;
        
             font-family: 'Helvetica';
            


            
        }

        .form-container {

            width: 400px;
            margin: auto;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
</head>
<body>